:root {
	/* Blue */
	--sidebar-background-color:#1677a0;
	--sidebar-background-sec-color:#075171;
	--sidebar-width: 300px;
	--sidebar-width-closed: 75px;
	--sidebar-hover-background-category:#176a93;
	--sidebar-hover-background-module:#176a93;
	--panel-radius: 8px;
	--active-category-border-color:#1677a0;
	--active-category-header-color:#d9edf7;
	--active-category-text-color:#3a87ad;
}